<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% cableTray.forEach(tray=>{
        
    %>
    <span class="text-green-700 font-semibold"><%= totalRate3 %></span>
});%>
</body>
</html>